<div class="container">
  <h2>Ajouter une suggestion</h2>

  <form [formGroup]="suggestionForm" (ngSubmit)="onSubmit()">

    <!-- TITLE -->
    <div>
      <label>Titre</label>
      <input type="text" formControlName="title">

      <small *ngIf="f['title'].touched && f['title'].invalid">
        <span *ngIf="f['title'].errors?.['required']">Titre obligatoire</span>
        <span *ngIf="f['title'].errors?.['minlength']">Minimum 5 caractères</span>
        <span *ngIf="f['title'].errors?.['pattern']">
          Doit commencer par une majuscule et contenir uniquement des lettres
        </span>
      </small>
    </div>

    <!-- DESCRIPTION -->
    <div>
      <label>Description</label>
      <textarea formControlName="description"></textarea>

      <small *ngIf="f['description'].touched && f['description'].invalid">
        <span *ngIf="f['description'].errors?.['required']">Description obligatoire</span>
        <span *ngIf="f['description'].errors?.['minlength']">
          Minimum 30 caractères
        </span>
      </small>
    </div>

    <!-- CATEGORY -->
    <div>
      <label>Catégorie</label>
      <select formControlName="category">
        <option value="">-- Choisir une catégorie --</option>
        <option *ngFor="let c of categories" [value]="c">
          {{ c }}
        </option>
      </select>

      <small *ngIf="f['category'].touched && f['category'].invalid">
        Catégorie obligatoire
      </small>
    </div>

    <!-- DATE -->
    <div>
      <label>Date</label>
      <input type="text" formControlName="date" readonly>
    </div>

    <!-- STATUS -->
    <div>
      <label>Status</label>
      <input type="text" formControlName="status" readonly>
    </div>

    <button type="submit" [disabled]="suggestionForm.invalid">
      Soumettre
    </button>

  </form>
</div>