<div class="container">
<button class="add-btn" routerLink="/suggestions/add">
  ➕ Ajouter suggestion
</button>
<button (click)="deleteSuggestion(s.id)">
  🗑 Supprimer
</button>
  <h2>Liste des suggestions</h2>

<div *ngFor="let s of suggestions" class="card">
  <h3>{{ s.title }}</h3>
  <p>{{ s.description }}</p>
  <p><b>Catégorie:</b> {{ s.category }}</p>
  <p><b>Likes:</b> {{ s.nbLikes }}</p>

  <button (click)="likeSuggestion(s)">👍 Like</button>
  <button (click)="goToDetails(s.id)">🔎 Détails</button>
  <button (click)="deleteSuggestion(s.id)">🗑 Supprimer</button>
</div>